# Python virtual environments
faissenv/
myenv/
.venv/
frontendenv/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Node / frontend
node_modules/

#faiss
.faiss
.pkl
# Ignore Python virtual environment
*.cfg

# Node.js files not needed
package.json
package-lock.json

